*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

input{
    display: none;
}

input:checked ~ .cover{
    background-color: black;
}

input:checked ~ .cover{
    div{
        background-color: white;
        .ball{
            right: auto;
            left: 0;
            background-color: black;
        }
    }
}

.cover{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;

    div{
        position: relative;
        width: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        border-radius: 25px;
        padding: 5px;

        i{
            color: lightgreen;
            cursor: pointer;
            font-size: 30px;
        }
        
        .moon{
            color: yellow;
        }

        .ball{
            position: absolute;
            width: 40px;
            height: 100%;
            border-radius: 50%;
            right: 0;
            background-color: white;
            z-index: 10;
            transition: .7s;
        }
    }
}